@model IEnumerable<MyMediaCatalog.Domain.Company>

<table class="table table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Number of Media
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </td>
            <td>
                @item.Media.Count
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-edit" }) |
                @Ajax.ActionLink(" ", "Delete", "Company", new { item.Id }, new AjaxOptions()
                    {
                        UpdateTargetId = "mediaList"
                    }, htmlAttributes: new { @class = "glyphicon glyphicon-remove" })
            </td>
        </tr>
    }

</table>
