@model MyMediaCatalog.Domain.StaffMember

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Person.Firstname) @Html.DisplayFor(model => model.Person.Lastname) - @Html.DisplayFor(model => model.Person.Title)</h2>

<h4>Media</h4>
<div id="mediaListView" style="overflow-x: hidden; overflow-y: auto;">
    @*@Html.Partial("../Media/_MediaListView", Model.)*@
</div>

<h4>Companies</h4>
<div id="companyListView" style="overflow-x: hidden; overflow-y: auto;">
    @*@Html.Partial("../Media/_MediaListView", Model.)*@
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>